.abonements {
  background: url("../img/yoga-cloud-bckg-768.png") #FCF8FE;
  background-repeat: no-repeat;
  background-position: 0px 100px;
}

.abonements__title {
  text-align: center;
  color: #8E80A9;
  margin-top: 0;
  padding-top: 20px;
  @include geometria-bold(18px);
}

.abonements__period-abonement {
  display: flex;
  justify-content: space-around;
  padding: 0 20px 0 20px;
  max-width: 400px;
  margin: 14px auto 14px auto;
}

.abonements__period-item {
  color: #8E80A9;
}

.abonements__period-link {
  text-decoration: none;
  color: #E65C7B;
  @include geometria-medium(12px);

  &:hover {
    color: #8E80A9;
    border-bottom: 2px solid #8E80A9;
  }
}

.abonements__list {
  padding: 0;
  padding-bottom: 5px;
  margin-bottom: 0px;
}

.abonements__item {
  width: 250px;
  margin: 0 auto 10px auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.abonements__time {
  padding-top: 20px;
  text-align: center;
  color: #8E80A9;
  @include geometria-bold(16px);
}

.abonements__description {
  display: block;
  text-align: center;
  color: #E65C7B;
  @include geometria-medium(10px);
  line-height: 15px;
}

.abonements__price {
  text-align: center;
  color: #8E80A9;
  @include geometria-bold(18px);
}

.abonements__button {
  border: none;
  background-color: #8E80A9;
  padding: 20px;
  color: #ffffff;
  margin: 10px auto 30px 55px;
  cursor: pointer;
  @include geometria-medium(10px);

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: #E65C7B;
  }
}

@media (min-width: $md) {
  .abonements {
    background: url("../img/yoga-cloud-bckg-1456.png");
    background-repeat: no-repeat;
    background-color: #FCF8FE;
    background-position: 0px -100px;
    background-size: $xl 600px;
  }

  .abonements__title {
    padding-top: 70px;
    font-size: 21px;
  }

  .abonements__period-abonement {
    max-width: 400px;
    margin: 20px auto 30px auto;
  }

  .abonements__list {
    display: flex;
    max-width: 670px;
    margin: 0 auto;
    align-items: flex-start;
  }

  .abonements__item {
    width: 176px;
  }

  .abonements__item--promo {
    width: 221px;
  }

  .abonements__button {
    display: none;
  }

  .abonements__button--promo {
    display: block;
    margin: 10px auto 30px auto;
    padding: 10px;
    width: 150px;
  }
}

@media (min-width: $xl) {
  .abonements {
    background-position: 0px -100px;
    background-size: 1920px 800px;
  }

  .abonements__title {
    font-size: 30px;
    padding-top: 60px;
  }

  .abonements__list {
    max-width: 950px;
  }

  .abonements__item {
    width: 263px;
  }

  .abonements__item--promo {
    width: 331px;
    min-height: 331px;
  }

  .abonements__time {
    font-size: 18px;
    margin-top: 40px;
  }

  .abonements__description {
    font-size: 12px;
  }

  .abonements__period-abonement {
    margin: 50px auto 50px auto;
  }

  .abonements__price {
    font-size: 30px;
    margin-bottom: 60px;
  }

  .abonements__button--promo {
    width: 223px;
    font-size: 12px;
    margin-top: -20px;
    margin-bottom: 50px;
    padding: 20px;
  }
}
