.header {
  padding-bottom: 70px;
  background: url("../img/yoga-logo-320.svg"), url("../img/header-bckg-768.png");
  background-repeat: no-repeat;
  background-size: auto, auto;
  background-position: center 90px, 0 -150px;
}

.header__nav {
  display: flex;
  justify-content: space-around;
}

.header__link-tel {
  margin-left: 100px;
  color: #8B7EAC;
  text-decoration: none;
  margin-top: 18px;
}

.header__title {
  display: block;
  width: 240px;
  font-family: Caveat;
  font-weight: 100;
  font-size: 18px;
  margin: 50px auto 0 auto;
  color: #8E80A9;
}

.header__button-menu {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #8E80A9;
  position: relative;

  &:focus {
  outline: none;
  }
}

.header__button-menu::before {
  content: "";
  position: absolute;
  display: block;
  top: 18px;
  left: -30px;
  width: 30px;
  height: 1px;
  background-color: #8E80A9;
  box-shadow: 0 8px 0 0 #8E80A9, 0 15px 0 0 #8E80A9;
}

.header__trial-lesson {
  text-decoration: none;
  color: #E65C7B;
  @include geometria-medium(10px);
  line-height: 12px;
  position: relative;
  display: block;
  width: 150px;
  margin: 90px auto 0 auto;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 26px;
    left: -35px;
    background-color: #E65C7B;
  }

  &::after {
    content: ">";
    font-family: Roboto;
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    left: -25px;
    top: 6px;
    background-color: transparent;
  }
}

@media (min-width: $md) {
  .header {
    background: url("../img/yoga-logo-768.svg"), url("../img/header-bckg-1280.png") #FCF8FE;
    background-repeat: no-repeat;
    background-size: auto, $xl;
    background-position: center 100px, 0px -320px;
    padding-bottom: 150px;
  }

  .header__nav {
    width: 630px;
    justify-content: space-between;
    margin: 0 auto 0 auto;
    padding-top: 20px;
  }

  .header__button-menu {
    @include geometria-medium(12px);
  }

  .header__title {
    width: 320px;
    margin: 30px 40% 0 20%;
    font-size: 24px;
  }

  .header__trial-lesson {
    margin: 150px auto 0 auto;
  }
}

@media (min-width: $xl) {
  .header {
    width: auto;
    background: url("../img/yoga-logo-1280.svg"), url("../img/header-bckg-1280.png"), #FCF8FE;
    background-repeat: no-repeat;
    background-size: auto, 1920px;
    background-position: center 230px, 0 -330px;
    padding-bottom: 280px;
  }

  .header__nav {
    width: 1100px;
  }

  .header__link-tel {
    font-size: 16px;
  }

  .header__title {
    font-size: 45px;
    width: 768px;
    margin: 100px 60% 0 21%;
  }

  .header__trial-lesson {
    margin-top: 302px;
    line-height: 20px;
    width: 200px;
    font-size: 14px;

    &::before {
      width: 55px;
      height: 45px;
      left: -65px;
    }

    &::after {
      font-size: 30px;
      left: -45px;
      top: 12px;
    }
  }

}
