.reviews {
  background-color: #FCF8FE;
  padding-bottom: 50px;
}

.reviews__title {
  text-align: center;
  color: #8E80A9;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 20px;
  @include geometria-bold(18px);
}

.reviews__item {
  width: 250px;
  margin: 10px auto 10px auto;
  padding-top: 20px;
  background: url("../img/quotes.png");
  background-repeat: no-repeat;
  background-position: 20px 10px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.reviews__description {
  padding-top: 20px;
  padding-left: 20px;
  color: #8E80A9;
  @include geometria-medium(10px);
}

.reviews__author {
  display: flex;
  padding-left: 20px;
}

.reviews__preview {
  width: 60px;
  height: 60px;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.reviews__teacher {
  margin: 0;
  margin-left: 10px;
  color: #E65C7B;
  @include geometria-medium(12px);
}

.reviews__date {
  margin: 0;
  margin-left: 10px;
  color: #8E80A9;
  @include geometria-medium(10px);
}

.reviews__link {
  position: relative;
  left: 10px;
}

.reviews__link--twitter {
  top: -19px;
  left: 30px;
}

@media (min-width: $md) {
  .reviews__item {
    width: 422px;
    padding: 50px;
    background-position: 70px 30px;
  }

  .reviews__description {
    font-size: 12px;
  }

  .reviews__title {
    font-size: 21px;
  }
}

@media (min-width: $xl) {
  .reviews__title {
    font-size: 30px;
  }
}
