.swiper-container {
    width: auto;
    height: auto;
    margin-left: 0;
    padding-bottom: 20px;
}

.swiper-button-prev {
  width: 16px;
  height: 31px;
  border: 1px solid #8E80A9;
  top: 60px;

  &::after {
    content: "";
  }

  &::before {
    content: "<";
    position: absolute;
    color: #8E80A9;
    top: 6px;
  }

  &:hover::before {
    color: #ffffff;
  }

  &:hover {
    background-color: #8E80A9;
  }
}

.swiper-button-next {
  width: 16px;
  height: 31px;
  border: 1px solid #8E80A9;
  top: 60px;

  &::after {
    content: "";
  }

  &::before {
    content: ">";
    position: absolute;
    color: #8E80A9;
    top: 6px;
  }

  &:hover::before {
    color: #ffffff;
  }

  &:hover {
    background-color: #8E80A9;
  }
}

.swiper-button-prev-second {
  width: 31px;
  height: 16px;
  top: 335px;
  left: 115px;

  &::before {
    top: -2px;
  }
}

.swiper-button-next-second {
  width: 31px;
  height: 16px;
  top: 335px;
  left: 175px;

  &::before {
    top: -2px;
  }
}

@media (min-width: $md) {
  .swiper-container {
    max-width: 700px;
    margin: 0 auto;
  }

  .swiper-button-prev-second {
    top: 725px;
    left: 305px;
  }

  .swiper-button-next-second {
    top: 725px;
    left: 360px;
  }
}

@media (min-width: $xl) {
  .swiper-container {
    max-width: 1100px;
  }

  .swiper-button-prev-second {
    top: 375px;
    left: 510px;
  }

  .swiper-button-next-second {
    top: 375px;
    left: 560px;
  }
}
